@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; // Login Layout kullanımı
}

<section class="py-5">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card shadow-lg rounded-5">
                    <div class="card-header text-center bg-dark text-white">
                        <h3>Forgot Password</h3>
                    </div>
                    <div class="card-body p-4">
                        <form asp-action="ForgotPasswordRequest" asp-controller="Account" method="post">
                            <div class="mb-3">
                                <label for="resetEmail" class="form-label">Enter your email address</label>
                                <input type="email" class="form-control" id="resetEmail" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-dark">Request Password Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>